{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    WSP CRM
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="dark-edition">
  <div class="wrapper ">


    <div class="container login-container ">
	<div class=" row text-center">
        <div class="col-xl-6 col-md-6 col-sm-6 mx-auto">
            <div class="login-form">

                <h3 class="display-4 mt-5 mb-3">Oops...</h3>
                <h4>There seems to be a problem with this URL</h4>
                <br>
                <a href="{% url 'dashboard' %}" class="btn btn-warning btn-round">Visit Dashboard</a>
                <br>
                <a href="{% url 'tech-support' %}" class="btn btn-success btn-round">Tech Support</a>

            </div>
        </div>

    </div>
    </div>


  </div>
</body>

</html>
