{% extends "theapp/base.html" %} {% block content %}

{% load static %}


  <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Add Your Comment</h4>
                  <p class="card-category">Share your thoughts below</p>
                </div>
                <div class="card-body">



      <form action="{% url 'add-comment' discussion.id%}" method="POST">
            {% csrf_token %}
            <div class="form-group" id="url_section">
              <input name="user" type="text" style="display:none;" value="{{ user.username }}"/>

              <input name="discussion" type="text" style="display:none;" class="form-control" value="{{ discussion.id }}">

              <input name="comment" type="text" class="form-control" placeholder="Write your comment here.." required>
            </div>
              <button type="submit" class="btn btn-success">Add Comment</button>
        </form>




                </div>
              </div>
            </div>

          </div>
        </div>

{% endblock content %}
