{% extends 'theapp/base.html' %} {% block content %} {% load static %}

<div class="justify-content-md-center mt-3">
  <h3 class="text-center">Update Your Password</h3>
  <hr />

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="box-element form-group center-form" id="form-wrapper">
        <form method="POST">
          {% csrf_token %} {{ form.as_p }}
          <button class="btn btn-primary">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content %}
