{% extends "theapp/base.html" %} {% block content %}

{% load static %}



  <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title"><b>Posted by:</b> {{ discussion.username }}</h4>
                  <p class="card-category"><b>Date:</b> {{ discussion.date_created|date:"M d, Y" }}</p>
                </div>
                <div class="card-body">

                    <div class="card text-light" style="font-size:19px;">
                        <p><b>Topic:</b> {{ discussion.topic }}</p>
                        <p style="color:#4ea752;">{{ discussion.description }}</p>
                    </div>


<br>

{% if comments %}
                    <a href="{% url 'add-comment' discussion.id %}" class="pull-right btn btn-success btn-round mt-4 mb-4">
                    Add Comment
                    </a>
                    <br><br><br>

                    {% for comment in comments %}
                        <p><b>{{ comment.username|title }}</b>:
                        {{ comment.date|date:"M d, Y" }}</p>
                        <p>{{ comment.comment }}</p>
                        <hr style="background-color:#fff;">
                    {% endfor %}


{% else %}

                    <a href="{% url 'add-comment' discussion.id %}"class="btn btn-success btn-round mt-4 mb-4">
                    Be the first to comment
                    </a>
{% endif %}

                </div>
              </div>
            </div>

          </div>
        </div>

{% endblock content %}
