{% extends "theapp/base.html" %} {% block content %}

<div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Time Clock</h4>
                  <p class="card-category">Track your efforts</p>
                </div>
                <div class="card-body text-center">


            {% if clocked_in %}
                {% for record in clocked_in %}
                         <p>You are clocked in since {{record.start_time}}</p>
                         <a href="{% url 'clock-out' %}" class="btn btn-round btn-danger"> Clock Out </a>
                {% endfor %}
            {% else %}
                <p>You are clocked out</p>
                <a href="{% url 'clock-in' %}" class="btn btn-round btn-success"> Clock In </a>
            {% endif %}

                <hr>

                {% for record in records %}
                    <p><i class="fa fa-check" aria-hidden="true"></i> {{record.date|date:"M d, Y"}} - <b> {{record.total_time}} </b>Mins.</p>
                {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>


{% endblock content %}
